.postItem {
  margin-top: 10000000px;
  margin: auto;
  width: 591px;
  height: 391px;
  background: linear-gradient(
    180deg,
    rgba(196, 196, 196, 0.2) 21.48%,
    rgba(92, 92, 91, 0.2) 70.59%
  );
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}
